<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="drop-coins">
  <div class="container-fluid" data-drop-coins-target="container">
    <%= link_to root_path, class: "logo" do %>
      <div class="d-flex w-3 justify-content-around">
        <h3>I</h3><h3 id="logo-o">O</h3><h3>U</h3>
      </div>
    <% end %>
    <% if params['action'] == 'home' %>
      <button class="coin", data-action="click->drop-coins#fall">
        <%= image_tag "pound-money.png", style: "width: 20px; height: 20px;" %>
      </button>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <button type="button" class="nav-link login" data-toggle="modal" data-target="#exampleModalCenter">
              Login
            </button>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
